
$navigation-color:#1e2139;
$invoice-modal:#141625;
$modal: #252945;
$body-background:#141625;
$font-family:"Poppins",sans-serif;
$primary-color : #7c5dfa;
$pending-color:rgba(247,147,39,1);
$pending-color-alt:rgba(247,147,39,0.2);
$error-color:rgba(237,47,32,1);
$error-color-alt:rgba(237,47,32,0.2);
$success-color:rgba(3,136,110,1);
$success-color-alt:rgba(3,136,110,0.2);

